doctype html
html
  head
    meta(name="viewport", content="width=320, initial-scale=1.0, user-scalable=no", charset='utf-8')
    title %s
    link(rel="stylesheet", href="./main.css")
  body
    h1 %s
